<header class="main-header box">
  <h1>RKC</h1>
  <div class="left">
    <div class="options">
      <a>{{ 'HEADER.HOME' | rkcTranslation }}</a>
      <a>{{ 'HEADER.SKILLS' | rkcTranslation }}</a>
      <a>{{ 'HEADER.EXPERIENCE' | rkcTranslation }}</a>
      <a>{{ 'HEADER.CONTACT' | rkcTranslation }}</a>
      <a>{{ 'HEADER.LINKS' | rkcTranslation }}</a>

      <a [href]="cvUrl()" download class="rkc-button">
        {{ 'HEADER.DOWNLOAD_CV' | rkcTranslation }}
      </a>
    </div>

    <div class="lang-switcher">
      <button
        class="lang-btn"
        [class.active]="currentLang() === 'pt'"
        (click)="changeLanguage('pt')"
        [attr.aria-label]="'HEADER.CHANGE_TO_PORTUGUESE' | rkcTranslation"
      >
        <img
          src="https://flagcdn.com/w40/br.png"
          [alt]="'HEADER.BRAZILIAN_FLAG_ALT' | rkcTranslation"
          width="24"
          height="24"
        />
      </button>
      <button
        class="lang-btn"
        [class.active]="currentLang() === 'en'"
        (click)="changeLanguage('en')"
        [attr.aria-label]="'HEADER.CHANGE_TO_ENGLISH' | rkcTranslation"
      >
        <img
          src="https://flagcdn.com/w40/us.png"
          [alt]="'HEADER.US_FLAG_ALT' | rkcTranslation"
          width="24"
          height="24"
        />
      </button>
    </div>

    <button class="menu-toggle rkc-button" (click)="toggleMenu()" [class.active]="menuOpen()">
      <lucide-icon [name]="menu" />
    </button>
  </div>
</header>

<div class="menu-overlay" [class.active]="menuOpen()" (click)="toggleMenu()">
  <div class="menu-content" (click)="$event.stopPropagation()">
    <a (click)="toggleMenu()">{{ 'HEADER.HOME' | rkcTranslation }}</a>
    <a (click)="toggleMenu()">{{ 'HEADER.SKILLS' | rkcTranslation }}</a>
    <a (click)="toggleMenu()">{{ 'HEADER.EXPERIENCE' | rkcTranslation }}</a>
    <a (click)="toggleMenu()">{{ 'HEADER.CONTACT' | rkcTranslation }}</a>
    <a (click)="toggleMenu()">{{ 'HEADER.LINKS' | rkcTranslation }}</a>
    <a [href]="cvUrl()" download class="rkc-button" (click)="toggleMenu()">
      {{ 'HEADER.DOWNLOAD_CV' | rkcTranslation }}
    </a>
  </div>
</div>
